.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wrapper input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.wrapper span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #d1d5db;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
}

.wrapper input:checked + span {
  background-color: #3a31e6;
  border-color: #3a31e6;
}

.wrapper input:checked + span::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.wrapper input:disabled + span {
  cursor: not-allowed;
}